nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

#container,
#bugs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.command-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.command-card:hover {
  background-color: #f1f1f1; /* Slightly darker background on hover */
  cursor: pointer;
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #007bff;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #007bff;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

h1 {
  text-transform: uppercase;
  text-decoration: none;
}

a {
  color: #333;
  text-decoration: none;
}
#container,
#bugs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

code {
  background-color: #f7f7f7;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 14px;
  color: #333;
}

.middle {
  margin: 0 auto;
  background: #ffffff;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bug {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.bug:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bug div {
  display: flex;
  align-items: center;
}

.bug div img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.bug p {
  margin: 0;
}
